<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <center>
            <div class="container">
                <h2>Add Your Fav Blog</h2><br>
                <div class="one">                    
                    <label for="three">Title</label><br>
                    <input id="three" type="text" name="title" placeholder="Enter blog title" required/><br><br>
                    <label for="four">Description</label><br>
                    <textarea id="four" type="text" name="descr" cols="100" rows="10" required></textarea><br><br>
                    <input type="file" name="img" placeholder="choose file"  accept=".jpg,.png,.jpeg" required/><br><br>
                    <button>Submit</button>
                </div>
            </div>
        </center>
    </form>
</body>
</html>